[submodule "ceph-ansible"]
	path = ceph-ansible
	url = https://github.com/aisrael/ceph-ansible.git
[submodule "ceph"]
	path = ceph
	url = git@github.com:aisrael/ceph.git
[submodule "compat/pthread4w"]
	path = compat/pthread4w
	url = git://git.code.sf.net/p/pthreads4w/code
[submodule "compat/libatomic_ops"]
	path = compat/libatomic_ops
	url = https://github.com/ivmai/libatomic_ops.git
[submodule "compat/poco"]
	path = compat/poco
	url = https://github.com/pocoproject/poco.git
[submodule "library"]
	path = library
	url=git@github.com:AcalephStorage/ansible-modules-extras.git
	branch = wip-ceph
